.App {
  text-align: left;
  margin: 2em;
}

.SolutionTable {
  margin-top: 2em;
}

.ChosenItem {
  background-color: aqua;
}

.CurrentCell {
  background-color: lightcoral;
}

.Muted {
  color: grey;
}

.Bold {
  color: darkblue;
}

DIV.table {
    display:table;
}

FORM.tr, DIV.tr {
    display:table-row;
    margin: 2em;
}

SPAN.td {
    display:table-cell;
    white-space: nowrap;
    margin: 2em;
}